<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957416054002-0p89b7ped36drhc08n1hjn2t2901o61l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957416054002-0p89b7ped36drhc08n1hjn2t2901o61l</string>
	<key>API_KEY</key>
	<string>AIzaSyDBWqtHi6GdRj9a01JQQDtRDW6vTMPeYhU</string>
	<key>GCM_SENDER_ID</key>
	<string>957416054002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaishi.FoodOrder</string>
	<key>PROJECT_ID</key>
	<string>foodorder-23f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorder-23f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957416054002:ios:0e9ba4bc78d0bcdff8c46b</string>
</dict>
</plist>